/*footer
{
	position: fixed;
	bottom:0;
	width:100%;
	display:inline-block;
	vertical-align:top;
	font-size:13px;
}*/
.container2
{
	padding-top: 30px;
	padding-bottom: 30px;
}
.container3
{
	padding-top: 120px;
	padding-bottom: 30px;
}